.invColor {
  color: #5614cf;
}
.invColor:hover {
  color: #5614cf;
}

@font-face {
  font-family: cocon-regular;
  src: url("../assets/font/Cocon-Regular.woff");
}
@font-face {
  font-family: cocon-bold;
  src: url("../assets/font/Cocon-Bold.woff");
}
body {
  font-family: "cocon", sans-serif !important;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
.pagination .page-item a {
  background-color: transparent;
  border: none;
  color: #5614cf;
}
.pagination .page-item a:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.pagination .page-item.paginationDisable {
  pointer-events: none;
}
.pagination .page-item.paginationDisable a {
  pointer-events: none;
  color: gray !important;
}
.pagination .page-item.active a {
  color: #000 !important;
}
@media screen and (max-width: 480px) {
  .pagination {
    margin: 2rem 1rem 0rem;
    gap: 0.5rem;
  }
  .pagination .page-item a {
    white-space: nowrap;
  }
  .pagination .page-item a:first-of-type, .pagination .page-item a:last-of-type {
    font-size: 0.85rem;
  }
}